.wrapper {
  background-color: #f0f2f5;
  width: 100%;
  min-height: 100vh;
}

.main__body {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.scroll_left {
  overflow: scroll;
  position: fixed;
  height: 105vh;
  width: 25%;
}

.post__infor {
  margin-left: 28%;
  width: 43%;
}

.right {
  position: fixed;
  overflow: scroll;
  height:105vh;
  width: 25%;
  left: 75%;
  padding-right: 15px;
}

.story_main {
  margin-top: 80px;
}

.wrapper .newFeeds {
  margin: 0px auto;
}

.formAddPost {
  padding-top: 20px;
}

.scroll_left::-webkit-scrollbar {
  width: 16px;
  height: 40px;
}

.scroll_left::-webkit-scrollbar-thumb {
  background: #f0f2f5;
  border-radius: 10px;
}

.scroll_left::-webkit-scrollbar-thumb:hover {
  background: #bcc0c4;
  border: 4px solid #e5e8eb;
  border-radius: 10px;
}

.right::-webkit-scrollbar {
  width: 16px;
  height: 40px;
}

.right::-webkit-scrollbar-thumb {
  background: #f0f2f5;
  border-radius: 10px;
}

.right::-webkit-scrollbar-thumb:hover {
  background: #bcc0c4;
  border: 4px solid #e5e8eb;
  border-radius: 10px;
}
